In [1]:
import pandas as pd

In [46]:
df = pd.read_csv("EBOOK-RATING-WITH-USERS-AND-TITLE.csv", delimiter=";")

In [47]:
df.shape

(1194, 5)

In [48]:
df.head()

,id,judul,deskripsi,user_id,rating
0,1197,"EDEN IN THE EAST SURGA DI TIMUR,STEPHEN OPPENH...",Buku ini diterbitkan untuk menambah wawasan pa...,311,5.0
1,1209,24416 NASKAH DEPARTEMEN TENTANG MATA KULIAH MA...,Buku ini diterbitkan untuk menambah wawasan pa...,1631,4.0
2,1210,24418 NASKAH DEPARTEMEN TENTANG MATA KULIAH MA...,Buku ini diterbitkan untuk menambah wawasan pa...,1631,5.0
3,1234,BUKU PETUNJUK PELAKSANAAN PEDOMAN PENGAMANAN P...,Buku ini diterbitkan untuk menambah wawasan pa...,1994,2.0
4,1236,BUKU PETUNJUK PELAKSANAAN PEDOMAN PENYIAPAN SA...,Buku ini diterbitkan untuk menambah wawasan pa...,3090,5.0

In [49]:
df["id"].nunique()

571

In [50]:
df["judul"].value_counts().head()

10 Kisah Genocide                                               53
Obrolan Nusantara: Menyambut Indonesia""                        36
100 Pemimpin Militer yang Berpengaruh di Dalam Sejarah Dunia    30
10 SECRETS OF SUCCESSFUL LEADERS                                29
DAR MEMBONGKAR OPERASI PSIKOLOGI GERAKAN INTOLERANSI            27
Name: judul, dtype: int64

In [51]:
# Let's get to the book with less than 1 rating:
comment_counts = pd.DataFrame(df["judul"].value_counts())
rare_book = comment_counts[comment_counts["judul"] <= 1].index

# Let's get access to book with over 1 rating:
common_books = df[~df["judul"].isin(rare_book)]
common_books.shape

(779, 5)

In [52]:
# Unique book with more than 5 reviews:
common_books["judul"].nunique()

154

In [53]:
# Let's create the User Book Df:
user_book_df = common_books.pivot_table(index=["user_id"], columns=["judul"], values="rating")

# There are 161 movies that 154 users have rated for. 
user_book_df.shape

(161, 154)